#sticky_catalog .catalog-list {
    display: none;
}

#sticky_catalog.show_catalog .catalog-list {
    display: block;
}

.fast-page span {
color: grey;
}

.menu-img img {
    margin: 5px;
}

h4.catalog-header {
    cursor: pointer;
}

.btn-group .dropdown-menu {
    display: none;
}

.filter {
    border: 1px solid #dfe0e0;
}

.checkbox {
    margin-left: 1px;
    border: 1px solid #dfe0e0;
    cursor: pointer;
}
.checkbox span{
    color: grey;
}

.checkbox p {
    margin:0;
}

.check p:hover {
    color: black;
    background-color: #E0E0E0;

#interval-pri—Åe {
    padding: 10px;
    width: 200px;
}

#check-brand {
    width:220px;
    height: 163px;
    overflow:auto;
    border: 1px solid #dfe0e0;
    margin: 0;

}

#check-brand p {
    border: 1px solid #dfe0e0;
    margin: 0;
}

#check-brand p:hover {
    color: black;
    background-color: #FFE4AD;
}

#check-brand.p {
    border: 1px solid #dfe0e0;
}

#interval-heat{
    padding: 10px;
    width: 200px;
}

.btn-group .dropdown-list {
    display: none;
}

.dropdown-list {
    border: 1px solid #dfe0e0;
}

.search_line_form .dropdown-list {
    display: none;
    position: absolute;
    z-index: 200;
    background-color: white;
    top: 12px;
}

.search_line_form .open .dropdown-list {
    display: block;

.button-show {
    width: 200px;
    padding: 3px 9px;
    border: 1px solid grey;
    margin: 5px 5px 5px 0;
    cursor: pointer;
    background: dimgrey;
    color: white;
}

.button-drop {
    width: 200px;
    padding: 3px 9px;
    border: 1px solid grey;
    margin: 5px 5px 5px 0;
    cursor: pointer;
}

.btn-group.open {
    display: block;
}

.article-tab-cont a:hover  {
    text-decoration: none;
}

.article-tab-cond a {
    color: #007488;
    border-bottom: 1px solid #007488;
}

.search_line_form .dropdown-menu {
    display: none;
    position: absolute;
    z-index: 200;
    background-color: white;
    top: 12px;
}

.search_line_form .open .dropdown-menu {
    display: block;
}
.search_line_form .open .angle-bottom {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 14px;
}

.search_line_form .btn-group {
    display: inline-block;
}
.search_line_form .btn-group li {
    list-style: none;
}

.widget-gallery {
}
